<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Aula 4</title>
</head>
<body>
    <form type="POST">

        <div style="margin:10px;">
            <h3>Formulário</h3>
            <div style="margin:10px">
                <label>nome:</label>
                <input type="text" name="nome" maxlength="100" value="{{nome}}" >
            </div>
            <div style="margin:10px">
                <label>idade:</label>
                <input type="text" name="idade" maxlength="100", value="{{idade}}" >
            </div>

            <button style="margin:10px;" align="center">Enviar</button>
            <ol>

            </ol>

        </div>
    </form>
</body>
</html>