{% extends 'masterPage.html' %}

{% block title %}Aula-6{% endblock %}

{% block content %}
<div style="margin:20px">
<form action="." method="post">{% csrf_token %}
    <p>
        <label>Nome:</label>
        <input type="text" name="nome" />
    </p>
    <p>
        <label>Sobrenome:</label>
        <input type="text" name="sobrenome" align="nome" />
    </p>
    <p>
        <label>E-mail: </label>
        <input type="text" name="email" align="sobrenome" />
    </p>
    <p>
        <label>Twitter: </label>
        <input type="text" name="twitter" align="twitter"/>
    </p>
    <button type="submit" name="btnConfirmar" style="margin-left:100px" >Confirmar</button>

</form>
<h3>Lista de Contatos já cadastrados:</h3>
    {% for contato in lbl %}
    <p>{{ contato.nome }}</p>
    {% endfor %}




</div>



{% endblock content %}