{% extends 'masterPage.html' %}

{% block title %}Aula-6{% endblock %}

{% block content %}
{% load widget_tweaks %}
<form action="." method="post">{% csrf_token %}
<div class="form-group">
    <label for="nome">Username: </label>
    {{ form.first_name|add_class:"form-control" }}
    
</div>
<div class="form-group">
    <label for="first_name">Sobrenome: </label>
    {{ form.last_name|add_class:"form-control" }}
</div>
<div class="form-group">
    <label for="email">Emal: </label>
    {{ form.email|add_class:"form-control" }}
</div>
<div class="form-group">
    <label for="twitter">twitter: </label>
    {{ form.twitter|add_class:"form-control" }}
</div>
  <button type="submit" class="btn btn-default">Confirmar</button>
</form>

    <h3>Lista de Contatos já cadastrados:</h3>
    {% if lbl %}

    {% for contato in lbl %}
    <p><a href="{{contato.id}}">{{ contato.first_name }}</a></p>
    {% endfor %}

    {% else %}
    <p>Nenhum contato encontrado.</p>
    {% endif %}



</div>



{% endblock content %}